body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #8a2eb2;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul a {
    text-decoration: none;
    color: #FFFFFF;
}

section {
    margin: 20px;
    text-align: center;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
}

video {
    max-width: 100%;
    height: auto;
}

.greeting, .intro {
    font-family: 'Arial', sans-serif;
    color: #333333;
    max-width: 800px;
    text-align: center;
    line-height: 1.5;
    padding: 20px;
}

.say-hello {
    font-family: 'Arial', sans-serif;
    color: #333333;
    max-width: 800px;
    text-align: center;
    line-height: 1.5;
    padding: 20px;
}

.say-hello ul {
    list-style-type: none;
    padding: 0;
}

.say-hello li {
    display: inline;
    margin-right: 20px;
}

.say-hello a {
    text-decoration: none;
    color: #007bff;
}

.say-hello a:hover {
    text-decoration: underline;
}


.header-image {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.header-content {
    flex-grow: 1;
}